.home-section{
	margin-bottom: 10px;
	padding: 4px;
	text-align: left;
}

.home-section h2{
	font-size: 1.2rem;
	display:inline-block;
	margin: 0;
	text-transform: uppercase;
}

.home-part{
	width: 48%;
	display: inline-block;
	text-align: left;
}
.home-part h2{
	margin:0;
}
.home-part.part1{
	margin-right: 3%;
}
.ital{
	font-style: italic;
	margin-bottom: 10px !important;
}

.otziv p{
	margin-bottom:3px;
	display: inline-block;
}
.otziv .stars,
 .otziv .stars2{
 	height: 12px;
 	width: 60px;
 }
.otziv .on,
.stars2 .on {
	height: 12px !important;
}

.cat_list{
	text-align: center;
	font-size: 0;
	margin-bottom: 45px;
}

.cat_list a {
	color: #000;
}
.cat_list img {
	width: 100%;
	max-width: 500px;
}

.w1, .w2, .w3, .w4, .w5, .w6{
	content:' ';
	display:block;
	width:50px;
	height:50px;
	background-size: 100%;
	opacity: 0.7;
}
.w1{background-image:url(https://lola.by/image/data/privetstvie/gift.png);}
.w2{background-image:url(https://lola.by/image/data/privetstvie/search.png);}
.w3{background-image:url(https://lola.by/image/data/privetstvie/kach.png);}
.w4{background-image:url(https://lola.by/image/data/privetstvie/dov.png);}
.w5{background-image:url(https://lola.by/image/data/privetstvie/dost.png);}

.pozdrav{content:' ';
display:block;
width: 100%;
height: 100px;
background-size: contain !important;
opacity: 0.7;
background: url(../image/pozdrav2.gif);
background-repeat: no-repeat;
}
