*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
* {
	box-sizing: border-box;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	 margin: 0px auto;
    min-width:1349px;
    max-width:1349px;
/*	position: relative;*/
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
title{
	text-decoration: line-through;
}
 header{
	background-image: url(../images/top.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 400px;
	 width: 1349px;
	position: relative;
	font-family: "BebasBold";
}
header h1{
	text-align: center;
	color: #fcf;
	margin-top: 118px;
	line-height: 42px;
	font-size: 40px;
	text-shadow: rgba(0,0,0,.55) 0 10px;
	font-family: "BebasRegular"
	/*background-color: rgba(0,0,0,.4);*/
}
header a{ /*это свво для всех
	ссылок уст белый цв. Можно будет потом убрать*/
	color: #fff;
}
.top-line{
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	/*position: absolute;
	top: 0; не надо*/
	width:  1349px;;
	background-color: rgba(0,0,0,.6);
	padding: 22px 0;
}
.top-line a{
	font-size: 21px;
	border-bottom: #fff dashed 1px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.top-line a:hover{
	border-bottom: transparent 1px dashed;
}
.top-addr{
	padding-left: 50px;
	background-image: url(../images/top-map.png);
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 28px;
}
.top-addr strong{
	display: block;
	color: #9f9;
	text-transform: uppercase;
	font-weight: normal;
	font-size:32px;
}
.top-line .logo {
	border-bottom: none;
	position: absolute;
	margin-top: -18px;
}
.top-line .logo:hover {
	border-bottom: none;
}
.logo-wrap{
	position: relative;
	width: 140px;
	margin: auto;
}
.ta_right{
	background-image:none;
	 /*url(../images/top-map.png);*/
	padding-left: 0;
	text-align: right;
}
.ta_right span{
	color: #fff;
	font-size: 30px;
}
.top-mnu{
	height: 62px;
	width:  1349px;
	background-color: #242424;
	/*-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;*/
	font-family: "BebasRegular";
	text-transform: uppercase;
	margin-top: 69px;
	padding: 0 20;
	text-align: center;
/*	margin-left: auto;
	margin-right: auto;
*/

	}
.top-mnu ul{

/*	margin-right: 8%;*/
	margin: 0 auto;
	margin-left: 9%;

	list-style-type: none;
	text-align: center;


}
.top-mnu a{

	color: #fff;
	font-size: 25px;
	padding: 0 44px 0 44px;
	display: block;
	line-height: 62px;
	border-left: #383838 1px solid;
	background-repeat: no-repeat;
	background-position: 42px 16px;
}
.top-mnu li{
	float: left;
}
.row1 li .active,
.top-mnu li:hover a{
background-color: #050505;
}
.top-mnu li:nth-child(2) a{
/*background-position: 20px 0менять,если иконсет; */

}
.top-mnu li:nth-child(3) a{

}
.top-mnu li:nth-child(4) a{

}
.top-mnu li:nth-child(5) a{

}
/*.row1 ul > li:first-child a,*/
.top-mnu ul > li:last-child a{
	border-right: #383838 1px solid;
}
#block-search{
    width: 345px;
    height: auto;
    z-index: 999999;
    margin-left: 900px;
    margin-top: -46px;
	position: absolute;
    border-radius: 5px;
}
#block-search span{
    width: 13px;
    height: 13px;
    background: url(/images/icon-search.png);
    position: absolute;
    margin-top: 10px;
    margin-left: 6px;
}
#block-search input#input-search{
    width: 205px;
    height: 26px;
    border: 1px solid #E1E1E2;
    font: 14px sans-serif;
    padding-left: 25px;
    border-radius: 5px;
}
#button-search{
    width: 58px;
    height: 30px;
    border: 1px solid #E1E1E2;
    background: url(/images/grd-button-search-norm.png);
    margin-left: -5px;
    cursor: pointer;
    border-radius: 5px;
}
#button-search:hover{
    background: url(/images/grd-button-search-hover.png);
}
.ul2{
	list-style-type: none;
	padding-left: 400px;
	margin-right: 0;
	margin-top: 0;
	color: #fff;
	font-size: 20px;
	display: block;
	background-color: #242424;

}
.fortov{

	background-image: url(../images/h.jpg);

	padding: 20px 0 34px;
}
.fortov h2{
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	margin-bottom: 44px;
	color: #ff9;
}
/*.home_cat{
	max-height: auto;
	max-width: 1140px;
}*/
.home_cat{
	font-size: 0;
	margin-bottom: 10px;
}
.home_cat .naz{
	position: absolute;
	top: 44%;
	left: 0;
	width: 100%;
	z-index: 1;
	margin: 3%;
}
.home_cat .naz b{
	padding:5px 3px;
	display: inline-block;
	background: rgba(255, 255, 255,0.6);
	border-radius: 3px;
	transition: 0.7s;
	min-width: 70px;
	max-width: 72%;
	box-shadow: 0px 2px 6px #555;
}
.home_cat a{
	display: inline-block;
	position: relative;
	width: 20%;
	text-align: center;
	box-sizing: border-box;
	padding: 8px 12px;
	color: #333;
	vertical-align: top;
	text-decoration: none;
	font-size: 1.4rem;
	outline: none;
}
.home_cat a:hover img,
.home_cat_hover{
	transition: 0.7s;
	transform: scale(1.05, 1.05);
}
.home_cat img {
	transition: 0.7s;
	border-radius: 50%;
	box-shadow: 0px 3px 4px #aaa;
	width: 100%;
}
.home_cat .im:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 50%;
	border: 10px solid rgba(255,255,255,0.8);
}
.home_cat .im{
	width: 220px;
	height: 220px;
	display: inline-block;
	position: relative;
}
.b{
background-image: url(../images/ss.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	/*min-height: auto;*/
	outline: none;

}
.b h2{
	color: magenta;
}
.br li{
	display: inline-block;
	width: 120px;
	height: 80px;
	margin:10px 5px;
	position: relative;

}
#b{
	margin: 4px;
	text-align: center;
	color: #93f;
	font-size: 12px;
}
footer{
	width: 1349px;
	padding: 20px;
	bottom: 0;
	background-image: url(../images/footer.png);
	height: auto;
	min-height: 200px;
	max-height: 300px;

}
.f{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: -172px;
	max-height: 5%;
}

.left{
	position: relative;
	max-width: 16%;

	float: left;

}
.center{
	position: relative;

	margin-left: 24%;
	max-width: 30%;
	float: left;
	text-align: center;
}
.center img{
	max-width: 140px;
	width: 100%;
}
.right{
	float: right;

	text-align: center;
}
.inter{
	color:black;
}
.for-left-menu{
	max-width: 10%;
	height: 100%;
	float: left;
}
#left-menu{
	margin: 0;
	margin-top: 10%;
	width: 100%;
	margin-left: 5%;
	height: auto;
	float: left;
	background-color: #eaffff;
	 border-radius:0 0 5px 5px;
     -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
     overflow: hidden;
}
#left-menu p{
	margin: 0;
	padding: 0 10px;
	margin-bottom: 0.5%;
	text-align: center;
	background:  linear-gradient(to left, #9fc 0%, #f9f 100%);
 	border-radius: 5px 5px 0  0;
     -webkit-border-radius: 5px 5px 0  0;
     -moz-border-radius: 5px 5px 0  0;

}
#left-menu > ul{
	margin: 0;
	text-align: center;
	margin-left: -31.5%;
}
.cvet{
	color: #c6f;
}
#left-menu > ul > li{
    border-bottom: 1px solid #9fc;
    margin: 0;
    padding: 0;
}
#left-menu > ul > li > a{
    font: 15px sans-serif;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
    cursor: pointer;
    list-style-type: none;
}
#left-menu > ul > li > a:hover{
    background-color: #9fc;
}
#left-menu > ul > li > a .active{
    background-color: #9fc;
}
.brand-section {
	margin-bottom: 5px;
	list-style: none;
	margin-left: -26.5%;
	text-align: center;
	font-size: 0.24em;
	display: none;
}
.brand-section li{
    margin-top: 3px;
    text-decoration: none;
}
.brand-section a{
    font: 15px sans-serif;
    color: #f9f;
}
.brand-section a:hover{
    text-decoration: underline;
}
#block-sorting{
	margin: 0;
	width: 100%;
	margin-left: 5%;
	height: auto;
	text-align: center;
	background-color: #eaffff;
	 border-radius:0 0 5px 5px;
     -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
     overflow: hidden;
}
#block-sorting>ul{
	text-align: center;
	margin: 0;
	padding: 0;
}
#block-sorting p{
	margin: 0;
	padding: 0 10px;
	margin-bottom: -1%;
	text-align: center;
	background:  linear-gradient(to left, #9fc 0%, #f9f 100%);
 	border-radius: 5px 5px 0  0;
     -webkit-border-radius: 5px 5px 0  0;
     -moz-border-radius: 5px 5px 0  0;

}
#options-list{
	text-decoration: none;
	list-style-type: none;
}
#select-sort{
    cursor: pointer;
    text-decoration: none;
}
#sorting-list{
    height: auto;
    display: none;
    text-decoration: none;
}
#sorting-list li{
    margin-left: -35%;
    text-align: center;
	list-style-type: none;
}
#sorting-list a{
    text-decoration: none;
    color: #c6f;
}
#sorting-list a:hover{
    text-decoration: underline;
}
.all-tov{
	margin-left: 10%;
	margin-top: 15px;
	text-align: center;
	max-width: 90%;
	padding-bottom: 1px;
}
.cont{
	border-top: 1px solid rgba(0,0,0,.15);
	padding: 15px 15px 20px 15px;
	text-align: center;
	background:#fff;
	position: relative;
	display: inline-block;
	width: 25%;
	min-width: 240px;
	vertical-align: top;
	box-sizing: border-box;
}
.cont::before {
    content: '';
    position: absolute;
    border: 2px solid transparent;
	width: 0;
	height: 0;
	top: -1px;
	left: 0;
	transition: 0.3s;
}
.cont:hover::before {
    width: 100%;
    height: 2px;
    border-top-color: #f9f;
	transition: width 0.5s ease-out, height 0.5s ease-out;
}
.cont img{
	width: 100%;
	max-width: 80%;
}
.cont_link {
	font-size: 0.8em;
}
.pstrnav{
	margin-left: 44%;
	margin-right: 30%;
	height: 5%;

	text-align: center;

}
.pstrnav li{
	width: 16px;
	height: 26px;
/*	margin-left: 7px;*/
	float: left;
	list-style-type: none;

}
.pstrnav a:hover{
	color: #f9f;
}
.pstrnav a.pstr-active{
	color: #f6f;
}
.pstrnav p.nav-point{
	text-align: center;
	margin-top: 8px;
	margin-bottom: 0px;
}
#block-content{
	padding: 5%;
	height: auto;
	margin-left: 20px;
	margin-right: 20px;
	min-height: auto;



}
#block-content-info{
	height: auto;
	margin-top: 15px;
	min-height: 500px;



}
#block-content-info img{
	float: left;
	margin-top: 0;
	margin-right: 105px;
}
#block-mini-description{

	width: 400px;
	float: left;

}
#content-title{
	font: 24px sans-serif;
	margin: 0;
}
#style-price{
	font: 20px sans-serif;

}
#content-text{
	margin-top: 65px;
	font: 16px sans-serif;
	border: 2px dashed #c9f;
	padding: 10px;

}
#style-brand img{
	border: 1px solid darkgrey;
}
ul.tabs { margin-top: 15px; list-style:none; width:100%; height: 31px; border-bottom: 1px solid #f6f;}
ul.tabs li:first-child {border-left:1px solid #f6f;}
ul.tabs li {float:left; border-right:1px solid #f6f; border-top:1px solid #f6f; background-color:#ffc;}
ul.tabs li.active {border-bottom:1px solid #fff; background-color:#fff; margin-bottom:-1px;}
ul.tabs li a {display:block; padding:7px 10px; color:#000;  outline:none; text-decoration:none; font:bold 14px sans-serif;}
ul.tabs li.active a { color:#000;}

div.tabs_content {width:100%;}
div.tabs_content > div {padding:10px;}
.tabs_content div{
    font: 15px sans-serif;
    margin-top: 5px;
}
#link-send-review a{
	text-decoration: none;
	font: italic 14px sans-serif;
	border-bottom: 1px dashed #f9f;
	color: #0f9;
}
#link-send-review a:hover{
	border-bottom: none;
}
.block-reviews{
	border-bottom: 1px dashed #f9f;
	margin-top: 20px;

}
.block-reviews #comm{
	float: left;
	margin-left: 15px;
	margin-top: 3px;
	width: 60px;
}
.block-reviews img{
	float: left;
	margin-left: 15px;
	margin-top: 5px;

}
.author-date{
	font: 14px sans-serif;
	margin-left: 20px;
	color: #8c8c8c;

}
.textrev{
	margin-left: 50px;
	margin-top: 0;
	margin-right: 100px;
	font: 14px sans-serif;
}
.text-comment{
	font: 15px sans-serif;
}
#send-review{
    display: none;
    width: 400px;
    height: 450px;
}
#title-review{
    font: 14px sans-serif;
    margin-right: 50px;
    color: #8C8C8C;
}
#send-review input{
    width: 234px;
    height: 25px;
    margin-right: 50px;
    margin-top: 15px;
    font: 12px sans-serif;
    border: 1px solid #DBDBDB;/*цвет рамки*/
}
#send-review textarea{
    width: 230px;
    height: 70px;
    margin-right: 50px;
    font: 12px sans-serif;
    border: 1px solid #DBDBDB;/*цвет рамки*/
}
#label-name{
    font: 14px sans-serif;
    margin-right: 10px;
}
#label-good{
    position: absolute; /*заставляет надпись прилипнуть к верху, а без этого - будут внизу*/
    font: 14px sans-serif;
    margin-left: -100px;
}
#label-bad{
    position: absolute;
    font: 14px sans-serif;
    margin-left: -93px;
}
#label-comment{
    position: absolute;
    font: 14px sans-serif;
    margin-left: -106px;
}
#reload-img{
    display: none;
    margin-top: 35px;
    margin-left: 295px;
}
#button-send-review{
    cursor: pointer;
    background: url(../images/button-send.png) no-repeat;
    width: 81px;
    height: 31px;
    margin-top: 25px;
    margin-left: 270px;
}
#button-send-review:active{
    background: url(../images/button-send-active.png) no-repeat;
}
.country{
	text-align: center;
	background-image: url(../images/b1.jpg);


}
.country h2{
	font-size: 44px;
background-image: -webkit-linear-gradient(left, #00b4ff, #c6f, lime);
-moz-linear-gradient(left, #00b4ff, #c6f, lime);
-o-linear-gradient(left, #00b4ff, #c6f, lime)
}
.country #sou{
	box-shadow: 0px 0px 10px 10px;
	width: 600px;
	height: 400px;
}
.country div> div> div{
	width: 450px;
	float: left;
	background-color: azure;
	opacity: 0.80;
	border: 4px dashed#cff;
	margin-right: 40px;
	margin-top: 40px;
}
.country div> div> #cos{
	width: 620px;
	height: 420px;
	float: right;
	margin-left: 50px;
	margin-top: -220px;
	box-shadow: 0px 0px 2px 2px;
}
#cos1{
	width: 620px;
	height: 380px;
	float: right;
	margin-left: 50px;
	margin-top: -200px;
	box-shadow: 0px 0px 2px 2px;
}
#osobii{
	margin-top: -140px;
}
#cos2{
	width: 580px;
	height: 420px;
	float: left;
	margin-left: -503px;
	margin-top: 174px;
	margin-right: 80px;
	box-shadow: 0px 0px 4px 4px;
}
#big{
	width: 1138px;
	margin-bottom: 40px;

}
hr{
border: 0;
height: 3px;
margin: 2px 2px 8px 2px;
background-image: -webkit-linear-gradient(left, #00b4ff, #c6f, lime);
-moz-linear-gradient(left, #00b4ff, #c6f, lime);
-o-linear-gradient(left, #00b4ff, #c6f, lime)
}
#block-contents{
margin: 0;
background-image: url(../images/fortov.jpg);
}
#block-feedback{
    height: 750px;
     padding-top: 150px;
/*    text-align: center;*/
margin-left: 304px;

}
#feedback{
	margin: 0;
 list-style-type: none;
 vertical-align: baseline;
}
#feedback li{
 margin-top: 10px;


}
#feedback input{
 height: 30px;
 width: 300px;
 font: 17px sans-serif;
 margin-left: 200px;
 border-left: 1px solid #ABABAB;
 border-top: 1px solid #ABABAB;
 border-right: 1px solid #DDDDDD;
 border-bottom: 1px solid #DDDDDD;
 padding-left: 5px;
}
#feedback label{
    font: 14px arial;
    color: #464648;
    position: absolute;
    margin-top: 7px;
    text-align: left;
}
#feedback textarea{
 height: 180px;
 width: 450px;
  font: 17px sans-serif;
 margin-left: 200px;
 border-left: 1px solid #ABABAB;
 border-top: 1px solid #ABABAB;
 border-right: 1px solid #DDDDDD;
 border-bottom: 1px solid #DDDDDD;
}
#feedback input:focus,#feedback textarea:focus{
 border: 1px solid #C4E1EB;
}
/*#block-captcha > input#reg_captcha:focus{
 border: 1px solid #C4E1EB;
}
#block-captcha{
    position: absolute;
    margin-left: 200px;
    height: 70px;
}
#block-captcha  > input#reg_captcha{
    height: 30px;
    width: 100px;
    font: 19px sans-serif;
    margin-left: 15px;
    padding-left: 5px;
    margin-top: 8px;
    color: black;
    border-left:1px solid #ABABAB ;
    border-top:1px solid #ABABAB ;

    border-right:1px solid #DDDDDD ;
    border-bottom:1px solid #DDDDDD ;
}
#block-captcha img{
    float: left;
}
#block-captcha p{
    margin-top: 0px;
    font: bold 13px sans-serif;
    text-decoration: underline;
    cursor: pointer;
    clear: both;
}
#block-captcha p:hover{
    text-decoration: none;
}*/
#form_submit{
    background: url();
    border: 1px solid #E4E4E4;
    font: bold 13px sans-serif;
    border-radius:5px ;
   -webkit-border-radius:5px ;
   -moz-border-radius:5px ;
    padding-left: 7px;
    padding-right: 7px;
    height: 33px;
    cursor: pointer;
    margin-top: -15px;
    margin-right: 15px;
}
#form-error{
	width: 234px;
	margin-top: 20px;
    font: italic 14px sans-serif;
    color: #CC0063;
    margin-left: 228px;
    padding: 20px;
    text-align: center;
    background-color: #F7EDEF;
    border: 1px solid #FAC8D3;
}
#form-success{
	width: 234px;
	margin-top: 20px;
    font: italic 14px sans-serif;
    color: lime;
    margin-left: 228px;
    padding: 20px;
    text-align: center;
    background-color: #F7EDEF;
    border: 1px solid #6f9;
}
#contacts{
	margin-left: -134px;
}